<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460291169930-0n9ouj3sgcvb3rgrqsoraj2e8fec27gs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460291169930-0n9ouj3sgcvb3rgrqsoraj2e8fec27gs</string>
	<key>API_KEY</key>
	<string>AIzaSyC34IMQ70S9Zy4chxc8KlA5dJ0oycLPvXM</string>
	<key>GCM_SENDER_ID</key>
	<string>460291169930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tp3</string>
	<key>PROJECT_ID</key>
	<string>tp3w-45f43</string>
	<key>STORAGE_BUCKET</key>
	<string>tp3w-45f43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460291169930:ios:6759c66a6f220bc1add773</string>
</dict>
</plist>